<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="UI Lead Developer - Coding Challenge - Alex Tkachuk">
  <title>UI Lead Developer - Coding Challenge - Alex Tkachuk</title>
</head>
<body>
  <div id="app"></div>
</body>
</html>
